<!-- <ion-header>
  <ion-toolbar>
    <ion-title>location</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="cont" >
    <div style="display: block; line-height: 1.5;">
      Please give location access in order to use this application
      <ion-button (click)="checklocation()">Grant location</ion-button>



      <div style="font-size: 18px; margin-top: 55px; line-height: 2;">
        <b style="font-weight: 600; color: #123E6F;">OR</b>
        <br>  
        Please go to 
        <br>    
        <b style="font-weight: 600; color: #010101;">Settings > Apps > Permissions</b>
        <br> 
        and allow location permission</div>
    </div>

  </div>


</ion-content>
