<div *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success': message.type === 'success', 
'alert-danger': message.type === 'error', 'alert-warning': message.type === 'warning', 
'alert-info': message.type === 'info' }"
    >
<div class="alertbox">
    <div class="closebtn" (click)="closeMessage()"><span><span class="closetext">Close </span> X</span></div><br>
    <div class="msg">{{message.text}}</div>

        <!-- <button class="button" (click)="closeMessage()"> Close</button> -->
        
</div>
</div>
