<!-- <ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <app-loader *ngIf="showLoader"></app-loader>

  <div class="cont">


    <div class="title">
      <!-- <div>Hi {{user?.FirstName}}</div> -->
      <img src="../../assets/ivis.png" height="38px">
      <ion-button (click)="logout()">Logout</ion-button>
    </div>

    <div class="data table table-striped" *ngIf="tickets?.length != 0">

      <div class="ttl">
        Ticket Summary for  {{user?.FirstName}}  {{user?.LastName}}
      </div>

      <table>
        <thead style="cursor: pointer;">
          <tr>
             <th *ngFor="let col of cols" >{{col}}</th>
             <th style="width: 50px;">Status</th>
             <th style="width: 100px;">lat / long</th>
          </tr>
        </thead>
        <tbody *ngFor="let ticket of tickets; let i =index">
          <!-- color(ticket) == 'registered' ? 'dot green' :
          color(ticket) == 'unregistered' ? 'dot red':'dot transparent' -->
          <tr class="tableElements">
             <td *ngFor="let col of cols">{{ticket[col]}}</td>
             <td style="text-align: -webkit-center;" ><div class="dot" 
              [className]="
              (savedstatus[i]?.status == 'registered' && savedstatus[i]?.id == ticket.id) ? 'dot green' :
              (savedstatus[i]?.status == 'unregistered' && savedstatus[i]?.id == ticket.id) ? 'dot red' :'dot transparent'
              "></div></td>

              <!-- <td style="text-align: -webkit-center;" ><div class="dot" 
                [className]="
                (ticket.latlongverified == 'T' && ticket.latitude != null) ? 'dot green' :
                (ticket.latlongverified == 'T' && ticket.latitude == null) ? 'dot red' :
                (ticket.latlongverified == 'F' && ticket.latitude != null) ?  'dot red' : 'dot'
                "></div></td> -->
             <td style="text-align: center;"><button (click)="saveCoOrds(ticket)" >Capture</button></td>
            </tr>

        </tbody>
      </table>

    </div>
    <div *ngIf="tickets?.length == 0">No Tickets Avialable</div>

    <ion-img src="../../assets/refresh.svg" class="refreshbtn" (click)="getTickets()"></ion-img>

  </div>

</ion-content>
