<ion-header>
  <div class="title">
    <img src="../../assets/ivis.png" height="38px">
    <ion-button (click)="logout()">Logout</ion-button>
  </div>
</ion-header>

<ion-content>
  <app-loader *ngIf="showLoader"></app-loader>
  <div class="cont">


    <!-- <div class="title">
      <img src="../../assets/ivis.png" height="38px">
      <ion-button (click)="logout()">Logout</ion-button>
    </div> -->

    <div class="data table table-striped">
      <ion-button class="routebtn" [routerLink]="['/spares']">Spares</ion-button>
      <div class="ttl">
        Ticket Summary for  {{user?.FirstName}}  {{user?.LastName}}
      </div>

      <table>
        <thead style="cursor: pointer;">
          <tr>
             <th *ngFor="let col of cols" >{{col}}</th>
             <th style="width: 45px;">Status</th>
             <!-- <th style="width: 50px;">UnitId</th> -->
             <th style="width: 90px;">lat / long</th>
          </tr>
        </thead>
        <tbody *ngFor="let ticket of tickets; let i =index">
          <tr class="tableElements" *ngIf="tickets?.length != 0">
            <td *ngFor="let col of cols">{{ticket[col]}} <span *ngIf="col == 'accountName'"> / {{ticket.unitId}}</span></td>
              <td style="text-align: -webkit-center;" >
                <div class="dot" [className]="
                (ticket.latlongverified == 'T' ) ? 'dot green' :
                (ticket.longitude == 'FailedAttempt' ) ? 'dot red' : 'dot'">
                </div>
              </td>
            <td style="text-align: center;"><button (click)="saveCoOrds(ticket)" >Capture</button></td>
          </tr>
          <tr class="tableElements"  *ngIf="tickets?.length == 0">
            <td>no data</td>fvgfg
          </tr>

        </tbody>
      </table>
      <div *ngIf="tickets?.length == 0" style="color: #767676;"><u>No Tickets Avialable</u></div>

    </div>

    <ion-img src="../../assets/refresh.svg" class="refreshbtn" (click)="getTickets()"></ion-img>

  </div>

</ion-content>

<!-- <ion-footer>
  <ion-button></ion-button>
</ion-footer> -->



<!--
                (ticket.latlongverified == 'T' && ticket.latitude != null && ticket.latitude !='') ? 'dot green' :
                (ticket.latlongverified == 'T' && (ticket.latitude ==null || ticket.latitude == '')) ? 'dot red' :
                (ticket.latlongverified == 'F' && ticket.latitude != null && ticket.latitude != '') ?  'dot red' : 'dot'
 -->
